<!DOCTYPE html>
<html>
  <head>
    <title>SimuVest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('exam.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= javascript_pack_tag 'app' %>

    <%# Material Icons  %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  </head>

  <body>
    <%= render "layouts/alerts" %>

    <div id="root">
    </div>

    <%= yield %>
    
    <%= content_tag :div, id: "app-data", "data-is-user-signed-in": user_signed_in? do %>
    <% end %>
  </body>
</html>
